*{
    align-items: center;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    
}


body{
    background-color: rgb(3, 3, 3);
    
}
.game{  
    font-size: 20px;
    margin: auto;
    width: 600px;
    border: 15px solid rgb(87, 1, 1);

}

.nome{
    padding-top: 10px;
    margin-top: 0px;
    color: green;
}
.info{
    padding-top: 0px;
    background-color: rgb(241, 28, 28);
    margin-bottom:1px ;
}
input{
    position: absolute;
    margin-left:-50px ;
    background-color: red;    
    min-height: 30px;
    margin-top: -10px;
    
    }
canvas{
    margin-top: 0px;

}
#nivel{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
}
#pontos{
    position: absolute;
    margin-left: 440px;
    margin-top: 0px;
}